.btn {
  color: var(--main-purple);
  font-family: var(--main-font);
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 8px;
}

.filterInactive {
  background-color: var(--main-white);
  color: var(--main-black);
  border: 1px solid var(--border-inactive);
}

.filterActive {
  background-color: var(--main-purple);
  color: var(--main-white);
  border: none;
}

.default {
  background-color: var(--main-purple);
  color: var(--main-white);
  padding: 4px 16px;
  width: 345px;
  height: 48px;
  border: none;
}

.secondary {
  background-color: var(--border-inactive);
  color: var(--main-white);
  padding: 4px 16px;
  width: 345px;
  height: 48px;
  border: none;
}
