.inpBox {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.inpBox div {
  display: flex;
  gap: 6px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

/* #checkbox {
  width: 20px; 
  height: 20px;
  background-color: #7b2cbf;
  accent-color: var(
    --main-purple
  ); 
} */
