.exitBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 24px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 4px 0px 6px -2px #000000, 10px 0px 15px -3px #000000;
}

.exitBox img {
  width: 64px;
  height: 5px;
}

.exitBox div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
