.inp {
  font-family: var(--main-font);
  width: 345px;
  height: 56px;
  padding: 20px 12px 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  box-sizing: border-box;
  transition: background-color 0.3s ease, color 0.3s ease;
}

input:not(:disabled) {
  background-color: var(--main-white);
}

input:disabled {
  background-color: #f5f5f5;
  color: #aaa;
  pointer-events: none;
}

label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #bbb;
  transition: all 0.3s ease;
  pointer-events: none;
}

input:focus + label,
input:not(:placeholder-shown) + label,
input[value]:not([value=""]) + label {
  top: 8px;
  font-size: 12px;
  color: #8e8e8e;
}

.noLabelInp {
  padding: 12px;
}

.formGroup {
  position: relative;
}

.formGroup input[type="date"] {
  position: relative;
  padding-right: 2.5rem;
}

.formGroup input[type="date"]::after {
  content: "";
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-image: url("/icons/CalendarIcon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
}
.inp[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}
