.nav {
  background-color: var(--main-purple);
  padding: 16px 24px;
  border-radius: 16px 16px 0 0;
}

.nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.active {
  color: #ffffff;
  fill-opacity: 1;
}
