.personalForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.formGroup {
  position: relative;
}

.edit {
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
