.formGroup {
  position: relative;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 20px 12px 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5f5f5;
  color: #aaa; /* Texto cinza */
  pointer-events: none; /* Desabilita interações */
  box-sizing: border-box;
}

input:disabled {
  background-color: #f5f5f5;
  color: #aaa;
}

label {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  color: #bbb;
  transition: all 0.3s ease;
  pointer-events: none; /* Evita interação com o label */
}

input:focus + label,
input:not(:placeholder-shown) + label,
input[value]:not([value=""]) + label {
  top: 8px;
  font-size: 12px;
  color: #8e8e8e;
}

.edit {
  padding: 24px;
  display: flex;
  justify-content: center;
  gap: 10px;
}
