.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile img {
  width: 114px;
  height: 114px;
  border-radius: 50%;
}

.info {
  display: flex;
  gap: 8px;
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 0.75rem;
}

.info div img {
  width: 20px;
  height: 20px;
}

.editPic {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--main-purple);
  font-size: 0.75rem;
  gap: 8px;
}

.editPic img {
  border-radius: 0;
  width: 16px;
  height: 16px;
}
