.rental {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.rental section div {
  display: flex;
  justify-content: space-between;
}

.rating {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rating img {
  width: 16px;
  height: 16px;
}

.description {
  font-size: 0.75rem;
}
