.box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.box div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75rem;
}

.box div > p:first-of-type {
  color: var(--black-alpha-600); /* Exemplo */
}

.tag {
  padding: 4px 12px;
  background-color: var(--main-white);
  color: var(--main-black);
  border: 1px solid var(--border-inactive);
  border-radius: 8px;
}
