@import url("https://fonts.googleapis.com/css2?family=Jura:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  --main-font: "Jura", sans-serif;

  --main-purple: #7b2cbf;
  --main-blue: #10002b;
  --main-white: #ffffff;
  --main-black: #000000;

  --border-inactive: #2d37484d;
  --black-alpha-600: #00000099;

  --font-size: 16px;
}

html {
  font-family: var(--main-font);
  font-size: var(--font-size);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1 {
  font-size: 1.75rem;
}
